numpy>=1.20,<1.25
scipy<1.11
matplotlib<3.8
pillow<11
pyyaml<7
requests<3
psutil<8
tqdm<5
seaborn<0.14
py-cpuinfo<10
importlib-resources<7
kafka-python<3
python-dotenv<2
lz4<5
prometheus-client<1
ultralytics==8.4.15
